# Gateway PostgreSQL
export GATEWAY_POSTGRES_DB=gateway
export GATEWAY_POSTGRES_USER=gateway
export GATEWAY_POSTGRES_PASSWORD=gateway
export GATEWAY_POSTGRES_HOST_PORT=5433

# Ledger PostgreSQL
export LEDGER_POSTGRES_DB=ledger
export LEDGER_POSTGRES_USER=ledger
export LEDGER_POSTGRES_PASSWORD=ledger
export LEDGER_POSTGRES_HOST_PORT=5434

# Gateway app
export GATEWAY_API_HOST_PORT=8000
export GATEWAY_DATABASE_URL=postgresql+psycopg://gateway:gateway@postgres-gateway:5432/gateway
export GATEWAY_LEDGER_SERVICE_URL=http://ledger-service:8000
export GATEWAY_LOGGING_LEVEL=INFO
export GATEWAY_ENABLE_DOCS=true

# Ledger app
export LEDGER_API_HOST_PORT=8001
export LEDGER_DATABASE_URL=postgresql+psycopg://ledger:ledger@postgres-ledger:5432/ledger
export LEDGER_LOGGING_LEVEL=INFO
export LEDGER_ENABLE_DOCS=true
